<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style3.css') }}"
    />
    <title>Login</title>
  </head>
  <body>
   
    {%with messages=get_flashed_messages(with_categories=true)%} {%if
    messages%}{% for message in messages%}
    <div class="alert alert-info alter-dismissable fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endfor%}{% endif %} {%endwith%}
    <form
      action="{{url_for('SignUP')}}"
      method="post"
      onsubmit="return myfun()"
      class="box"
    >
      <h1>Sign UP</h1>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Username"
        required
      />
      <span id="nameMessage" style="color: red"></span>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email Id"
        required
      />
      <span id="emailMessage" style="color: red"></span>
      <input
        type="Password"
        name="password"
        id="password"
        placeholder="password"
        required
      />
      <span id="passMessage" style="color: red"></span>
      <input
        type="Password"
        name="cnfpassword"
        id="passwords"
        placeholder="Confirm password"
        required
      />
      <span id="CnfpassMessage" style="color: red"></span>
      <input type="submit" name="" value="submit" />
      <h5><a href="{{url_for('login')}}">Go to Login</a></h5>
    </form>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
     <script>
      function myfun() {
       var flag=true;
        var name = document.getElementById("name").value;
        if (name == "") {
          doucument.getElementById("nameMessage").innerHTML =
            "** Please fill the name";
            flag=false;
          return false;
        }
        var mail = document.getElementById("email").value;
        if (mail == "") {
          doucument.getElementById("emailMessage").innerHTML =
            "** Please fill the mail";
            flag=false;
          return false;
        }
        var password = document.getElementById("password").value;
        if (password == "") {
          doucument.getElementById("passMessage").innerHTML =
            "** Please fill the password";
            flag=false;
          return false;
        }
        if (password.length < 5) {
          document.getElementById("passMessage").innerHTML =
            "** Password length must greater than 5";
            flag=false;
          return false;
        }
        var passwords = document.getElementById("passwords").value;
        if (passwords == "") {
          doucument.getElementById("CnfpassMessage").innerHTML =
            "** Please Confirm your password";
            flag=false;
          return false;
        }
        if (password != passwords) {
          document.getElementById("CnfpassMessage").innerHTML =
            "** Passwords are not matching";
            flag=false;
          return false;
        }
        }
   </script>
  </body>
</html>
