@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
body{
margin:0;
padding: 0;
font-family:"Montserrat",sans-serif;
background: #fa3015
}

.box{
width:350px;
padding:40px;
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
background: #191919;
text-align: center;
box-shadow: 2px 2px 2px 2px black;
border-radius:10px;

}
.box h1{
color:white;
text-transform: uppercase;
font-weight: 500;
}
.box input[type="text"],.box input[type="password"],.box input[type="email"]{
border:0;
background: none;

display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #ff2088;
padding:14px 10px;
width:200px;
outline:none;
color:white;
border-radius: 24px;
transition: 0.25s;
box-shadow:1px 1px 1px 1px  red;
}

.box input[type="text"]:focus, .box input[type="email"]:focus, .box input[type="password"]:focus{
width: 280px;
border-color: #ff2088;
}

.box input[type="submit"]{
border:0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #ff2088;
padding: 14px 40px;
outline:none;
color:white;
border-radius:24px;
transition: 0.25s;
cursor: pointer;
box-shadow:1px 1px 1px 1px  red;
}
.box input[type="submit"]:hover{
background:#ff2088;
border:black;
}
.box h5{
float:right;
font-size:15px;
}
.box h5 a{
color:#ff2088;
text-decoration:none;
}

